<div class="container">
<% @users.each do |user| %>
<button class="btn btn-primary" type="button">
  <%= user.login %> <span class="badge"><%= "#{find_count(user)}" %></span>
</button>
<% end %>
</div>